--- 
title: Archive 
layout: default 
description: 读万卷书，行万里路 
header-img: "img/library.jpg" 
---

<!-- Page Header -->
{% include intro-header.html type='page' short=true %}

<!-- Main Content -->
<div class="archive-container">
	<p class="page_title">
		<span class="bold-text">30</span>
		<span class="normal-text">个月</span>
		<span class="bold-text js-post-sizes">{{site.posts.size}}</span>
		<span class="normal-text">篇文章</span>
	</p>
	<ul>
		{% for post in site.posts %}
		<li class="archive_item">
			{% unless post.next %}
			<h3>{{ post.date | date: '%Y-%m' }}</h3>
			{% else %} {% capture year %}{{ post.date | date: '%Y-%m' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date:
			'%Y-%m' }}{% endcapture %} {% if year != nyear %}
			<h3>{{ post.date | date: '%Y-%m' }}</h3>
			{% endif %} {% endunless %}
			<ol>
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			</ol>
		</li>
		{% endfor %}
	</ul>
</div>
