---
layout: page
description: "生是见识，不是活着。"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
      | 浏览量: <span data-hk-page="{{ post.url | prepend: site.url }}"> - </span>次
      </p>
</div>
<hr>
{% endfor %} 

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="page-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> < </a>
  {% else %}
    <a class="page-item"> < </a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em class="page-item current-page" >{{ page }}</em>
    {% elsif page == 1 %}
      <a class="page-item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="page-item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="page-item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> > </a>
  {% else %}
    <a class="page-item"> > </a>
  {% endif %}
</div>
{% endif %}
